@font-face {
    font-family: 'Seravek-M';
    src: url('../fonts/Seravek-Medium.otf');

}

a{
	text-decoration: none;
}


html, body{
	padding: 0;
	margin: 0;
	font-family: Tahoma;
}

.logo{
	float: left;
	margin-top: 20px;
	height: 35px;
	width: 170px;
	background-image: url(../img/logo.png);
	background-size:  cover;
}

.toppanel{
	font-family: Tahoma;
	font-size: 14px;
	line-height: 70px;
	text-align: center;
	color: #848e92;
	width: 100%;
	height: 70px;
	background-color: #2c353a;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.toppanel-center{
	width: 700px;
	margin: 0 auto;
	height: 100%;
	
}

.userpanel a { color: #a2aeb3; }


.userpanel{
	float: right;
	width: 100px;
	height: 100%;
	font-family: Tahoma;
	font-size: 13px;
	color: #a2aeb3;
	text-align: right;
	padding-right: 10px;
	box-sizing: border-box;
}

.maincontent{
	margin: 0 auto;
	width: 760px;
	position: relative;
	height: auto;
	overflow: hidden;
}

.event{
	display: inline-block;
	margin-left: 33px;
	float: left;
	width: 330px;
	min-height: 200px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.19);
	border-radius: 7px;
	margin-top: 35px;
}

.event .eventimg{
	float: left;
	height: 130px;
	width: 330px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	z-index: 1;	
}

.event .userimg{
	margin-top: -30px;
	width: 56px;
	height: 56px;
	margin-left: 20px;
	background-color: blue;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	border-radius: 28px;
	z-index: 2;
}

.event .eventname{
	float: right;
	margin-top: -30px;
	height: 56px;
	width: 240px;
}

.eventname .eventitem{
	height: 28px;
	width: 240px;
	line-height: 30px;
	font-family: Tahoma;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em black;
	font-size: 13px;
	font-weight: 600;
}

.eventname .money{
	height: 28px;
	width: 240px;
	line-height: 28px;
	font-family: Tahoma;
	font-size: 10px;
	color: #b1b2b2;
}

.event-information{
	height: 60px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	min-height: 40px;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 15px;
	padding-top: 2px;
	color: #5e5e5e;
	overflow: hidden;
}

.eventbottominfo{
	width: 100%;
	height: 40px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: #edf1f2;
}

.commentblock{
	width: 55px;
	height: 40px;
	float: left;
}

.like-logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 17px;
	width: 20px;
	background-size: 20px;;
	background-image: url(../img/like.png);
}

.comment-logo{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 17px;
	width: 19px;
	background-size: 19px;;
	background-image: url(../img/comment.png);
}

.commentblock h5{
	font-family: Tahoma;
	float: left;
	margin-left: 5px;
	margin-top: 13px;
	font-size: 10px;
	font-weight: 400;
	color: #838383;
	
}

.footer{	
	margin-top: 40px;
	width: 100%;
	height: 70px;
	background-color: #f4f4f4;
	text-align: center;
	line-height: 70px;
	font-size: 10px;
	color: #c1c1c1;
}

.signinform{
	margin: 0 auto;
	
	width: 350px;
	height: 250px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.19);
	border-radius: 7px;
	margin-top: 190px;
	margin-bottom: 220px;
}

.signupform{
	margin: 0 auto;
	width: 350px;
	height: 340px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.19);
	border-radius: 7px;
	margin-top: 150px;
	margin-bottom: 170px;
}

.addeventform{
	margin: 0 auto;
	width: 350px;
	height: 465px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.19);
	border-radius: 7px;
	margin-top: 150px;
	margin-bottom: 170px;
}

.signintextlabel{
	width: 307px;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	color: #3b3b3b;
	font-size: 17px;
	font-weight: bold;
	box-sizing: border-box;
	
}

input[type="text"] {
    margin-left: 20px;
    margin-top: 15px;
    height: 45px;
    width: 307px;
    background-color: rgba(239, 239, 239, 0.23);
    color: #424242;
    padding: 2px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    box-sizing: border-box

}

input[type="password"] {
    margin-left: 20px;
    margin-top: 15px;
    height: 45px;
    width: 307px;
    background-color: rgba(239, 239, 239, 0.23);
    color: #424242;
    padding: 2px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    box-sizing: border-box

}

input[type="submit"] {
    margin-left: 20px;
    margin-top: 15px;
    height: 45px;
    width: 307px;
    background-color: #a8e051;
    border: none;
    color: white;
    padding: 2px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box

}

input[type="file"] {
    margin-left: 20px;
    margin-top: 15px;
}

input[type="date"] {
    margin-left: 20px;
    margin-top: 15px;
	height: 45px;
    width: 307px;
	background-color: rgba(239, 239, 239, 0.23);
    color: #424242;
    padding: 2px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    box-sizing: border-box
}

.eventfull{
	width: 693px;
	min-height: 500px;
	display: inline-block;
	margin-left: 33px;
	float: left;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.19);
	border-radius: 7px;
	margin-top: 35px;
	margin-bottom: 20px;
}

.eventfullimg{
	position: relative;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 693px;
	height: 250px;
}

.eventfullname{
	position: relative;
	width: 640px;
	height: 60px;
	margin-left: 20px;
	margin-top: -62px;
	line-height: 50px;
	font-family: Seravek, Helvetica, Tahoma;
	color: white;
	text-shadow: 3px 3px 3px black, 0 0 2em black;
	font-size: 45px;
}

.eventfulldescription{
	float: left;
	width: 55%;
	padding-top: 15px;
	min-height: 200px;
	padding-left: 20px;
	box-sizing: border-box;
	padding-bottom: 15px;
	color: #5d5d5d;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
	text-align: justify;
}

.eventfullright{
	float: right;
	width: 40%;
	min-width: 200px;
	background-color: rgba(181, 117, 163, 0.21);
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}
